.nav-link
{
    border-right-width: 1px;
    color: #495057;
}

.nav-link:hover
{
    border-radius: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    color: #495057;
}

.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.tab-content
{
    padding: 15px;
}

.nav-link.active, nav-link.show
{
    border: none;
}